extends ./templates/main.jade

block content
    include ./templates/navbar.jade
    div.S-Rectangle-2
        div.row.radio-trip-type(style='left: 105px;top: 60px;')
            div.col-md-6
                div.col-md-4
                    input#radio-trip-round(type="radio", name="tripType", checked=searchParams.isRoundtrip, value="round")
                    label(style="padding-left: 5px", for='radio-trip-round') ROUND-TRIP
                div.col-md-4
                    input#radio-trip-oneway(type="radio", name="tripType", checked=searchParams.isOneway, value="oneway")
                    label(style="padding-left: 5px", for='radio-trip-oneway') ONE-WAY
        div.row
            div.col-md-10.search-box(style='left:90px;top:90px;')
                div.col-md-1.search-box-item
                    span(style="font-size:14px; margin-top: 5px;") From:
                    br
                    select#departAirportSelect.form-control(name="departureAirportCode", style="width: 143px; margin-left: 4px;")
                        each value, key in airportsList
                            option(value='#{key}', selected= (key == searchParams.departureAirportCode)) #{value}
                div.col-md-1.search-box-item(style="margin-left: 100px;")
                    span(style="font-size:14px; margin-top: 5px;") To:
                    br
                    select#destAirporlSelect.form-control(name="destinationAirportCode", style="width: 143px; margin-left: 4px;")
                        each value, key in airportsList
                            option(value='#{key}', selected = key == searchParams.destinationAirportCode) #{value}
                div.col-md-2.search-box-item(style="margin-left: 87px;")
                    span.glyphicon.glyphicon-calendar(style="line-height: 30px;")
                    input#departDate.form-control(style="margin-left: 5px;", readonly='true', type="text", placeholder="Depart Date")
                div.col-md-2.search-box-item(style="margin-left: -18px;")
                    span.glyphicon.glyphicon-calendar(style="line-height: 30px;")
                    input#returnDate.form-control(style="margin-left: 5px;", readonly='true', type="text", placeholder="Return Date")
                div.col-md-2.search-box-item(style="margin-left: -19px;")
                    span(style="font-size:14px; margin-top: 5px;") Adult
                    div(style="display: inline-flex; margin-left: 5px;")
                        span#adultCountMinus.glyphicon.glyphicon-minus(style="line-height: 30px;")
                        input#adultCount.form-control(name="adultCount", type="text", readonly="true", value = searchParams.adultCount, style="margin: 0px 5px 0px 5px; width: 40%; padding-right: 10px; text-align: center;")
                        span#adultCountPlus.glyphicon.glyphicon-plus(style="line-height: 30px;")
                div.col-md-2.search-box-item(style="margin-left: -60px;")
                    span(style="font-size:14px; margin-top: 5px;") Children
                    div(style="display: inline-flex; margin-left: 5px;")
                        span#childCountMinus.glyphicon.glyphicon-minus(style="line-height: 30px;")
                        input#childCount.form-control(name="childCount", readonly="true", type="text", value = searchParams.childCount, style="margin: 0px 5px 0px 5px; width: 40%; padding-right: 10px; text-align: center;")
                        span#childCountPlus.glyphicon.glyphicon-plus(style="line-height: 30px;")
                div#btn-search
                    button.btn.btn-warning.btn-lg(style="margin-top: 7px;margin-left:13px", type="button")
                        a(href="/search", style="color:white") Edit
    div.S-Rectangle-3
        div.container
            div.row(style="margin-right: 0px;")
                div.S-Departure-Text #{results.departingCityName[0].city_name} to #{results.arrivingCityName[0].city_name} - #{results.formattedDepartureDate}
                if results.oneWayFlights.length == 0
                    div.alert.alert-danger(style="margin-top: 65px; font-size: 15px;")
                        |Sorry, no results found for this search. Maybe changing the dates would help!
                else
                    table.S-Departure-Table.table.table-hover.sortable(cellspacing='10')
                        thead
                            th.S-search-table-header
                            th.S-search-table-header Flight No.
                            th.S-search-table-header(style="padding-left: 72px") Departure Time
                            th.S-search-table-header(style="padding-left: 21px") Arrival Time
                            th.S-search-table-header(style="width:25%;") Duration
                            th.S-search-table-header(style="padding-left:0px") Price
                        tbody
                        for item, index in results.oneWayFlights
                            tr.S-Search-Row
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        input.flightselect1.S-big-radio-2(type='radio', name='departure-flight',id='d_flight_record_#{index}')
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1.S-logo
                                        div.S-Wings-Airlines(id='d_flight_no_#{index}')= item.flight_no
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Departure-Time(style='margin-top: 23px;',id='d_departure_time_#{index}')= item.formattedDepartTime
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Arrival-Time(style='margin-top: 23px;',id='d_arrival_time_#{index}')= item.formattedArrivalTime
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Leg-Duration-Time(style='margin-top: 23px;',id='d_duration_time_#{index}')= item.formattedLegDuration
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Price-label(id='d_price_#{index}') $ #{item.fare}
            div.row
                div.S-Departure-Text #{results.arrivingCityName[0].city_name} to #{results.departingCityName[0].city_name} - #{results.formattedReturnDate}
                if results.returnFlights.length == 0
                    div.alert.alert-danger(style="margin-top: 65px; font-size: 15px;")
                        |Sorry, no results found for this search. Maybe changing the dates would help!
                else
                    table.S-Departure-Table.table.table-hover.sortable(cellspacing='10')
                        thead
                            th.S-search-table-header
                            th.S-search-table-header Flight No.
                            th.S-search-table-header(style="padding-left: 72px") Departure Time
                            th.S-search-table-header(style="padding-left: 21px") Arrival Time
                            th.S-search-table-header(style="width:25%;") Duration
                            th.S-search-table-header(style="padding-left:0px") Price
                        tbody
                        for item, index in results.returnFlights
                            tr.S-Search-Row
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        input.flightselect1.S-big-radio-2(type='radio', name='return-flight',id='r_flight_record_#{index}')
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1.S-logo
                                        div.S-Wings-Airlines(id='r_flight_no_#{index}')= item.flight_no
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Departure-Time(style='margin-top: 23px;',id='r_departure_time_#{index}')= item.formattedDepartTime
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Arrival-Time(style='margin-top: 23px;',id='r_arrival_time_#{index}')= item.formattedArrivalTime
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Leg-Duration-Time(style='margin-top: 23px;',id='r_duration_time_#{index}')= item.formattedLegDuration
                                td.S-Coloumn-Text(style="vertical-align:middle;")
                                    div.col-md-1
                                        div.S-Price-label(id='r_price_#{index}') $ #{item.fare}

    if (results.returnFlights.length !=0 && results.oneWayFlights.length != 0)
        div.row(style="margin-right:0px")
            div.col-md-5
                div.S-Rectangle-4
                    div.col-md-1.S-logo-2
                    div.col-md-1.S-Payment-Wings-Airlines(id="d_flightname")
                    div.col-md-2.S-Payment-Departure-Time(id="d_selected_departure_time")
                        br
                        span
                        div.S-arrow-1
                    div.col-md-2.S-Payment-Arrival-Time(id="d_selected_arrival_time")
                        br
                        span
                    div.col-md-2.S-Payment-Amount(id="d_selected_price")
                        br
                        span
            div.col-md-5
                div.S-Rectangle-4(style="margin-left: -29px;")
                    div.col-md-1.S-logo-2
                    div.col-md-1.S-Return-Payment-Wings-Airlines(id="r_flightname")
                    div.col-md-2.S-Return-Payment-Departure-Time(id="r_selected_departure_time")
                        br
                        span
                        div.S-arrow-1
                    div.col-md-2.S-Return-Payment-Arrival-Time(id="r_selected_arrival_time")
                        br
                        span
                    div.col-md-2.S-Return-Payment-Amount(id="r_selected_price")
                        br
                        span
            div.col-md-2
                div.S-Rectangle-4(style="width: 135%;margin-left: -58px;")
                    div.col-md-1.S-Total-Amount(style="font-size:18px")
                        span(id="selected_total_price")
                        br
                        span(style="font-size:15px;")
                        br
                        span(style="font-size:15px;")
                    div
                        form#bookFlights(action="/payments", method="post")
                            input#btnBook.btn.btn-warning.btn-lg(style="color:white; margin-top: 17px; margin-left: 50px;", value="Book!", type="button")
block footer
block append scripts
    script.
        window.onload = function()
        {
            var currentSelectedToFlight = {
                flightNo: '',
                flightDepartureTime: '',
                flightArrivalTime: '',
                flightDuration: '',
                totalFare: '',
                departureCityName: "#{results['departingCityName'][0]['city_name']}",
                departureCityShortCode: "#{results['departingCityName'][0]['city_short_code']}",
                arrivalCityName: "#{results['arrivingCityName'][0]['city_name']}",
                arrivalCityShortCode: "#{results['arrivingCityName'][0]['city_short_code']}",
                formattedDateOfTravel: "#{results['formattedDepartureDate']}"
            };

            var currentSelectedReturnFlight = {
                flightNo: '',
                flightDepartureTime: '',
                flightArrivalTime: '',
                flightDuration: '',
                totalFare: '',
                departureCityName: "#{results['arrivingCityName'][0]['city_name']}",
                departureCityShortCode: "#{results['arrivingCityName'][0]['city_short_code']}",
                arrivalCityName: "#{results['departingCityName'][0]['city_name']}",
                arrivalCityShortCode: "#{results['departingCityName'][0]['city_short_code']}",
                formattedDateOfTravel: "#{results['formattedReturnDate']}"
            };


            $('input:radio[name=departure-flight]')[0].checked = true;
            $('input:radio[name=return-flight]')[0].checked = true;

            //- to-flight vars
            var initialDFlightSelectedIndex = $('input[type=radio][name=departure-flight]:checked').attr('id').split('_')[3];;
            var initialDDepartureTime = currentSelectedToFlight.flightDepartureTime = $("#d_departure_time_"+initialDFlightSelectedIndex).text();
            var initialDArrivalTime = currentSelectedToFlight.flightArrivalTime = $("#d_arrival_time_" + initialDFlightSelectedIndex).text();
            var initialDPrice = currentSelectedToFlight.totalFare = $("#d_price_" + initialDFlightSelectedIndex).text();
            var initialDFlightNo = currentSelectedToFlight.flightNo = $("#d_flight_no_"+initialDFlightSelectedIndex).text();
            var initialDFlightFormattedDuration = currentSelectedToFlight.flightDuration = $("#d_duration_time_" + initialDFlightSelectedIndex).text();


            $("#d_selected_departure_time").text(initialDDepartureTime+"\n"+"");
            $("#d_selected_departure_time").append("<span>#{results.departingCityName[0]['city_short_code']}</span><div class='S-arrow-1'></div>");
            $("#d_selected_arrival_time").text(initialDArrivalTime+"\n"+"#{results.arrivingCityName[0]['city_short_code']}");
            $("#d_selected_price").text(initialDPrice+"\nAmount");
            $("#d_flightname").text(initialDFlightNo);

            //- return-flight vars
            var initialRFlightSelectedIndex = $('input[type=radio][name=return-flight]:checked').attr('id').split('_')[3];
            var initialRDepartureTime = currentSelectedReturnFlight.flightDepartureTime = $("#r_departure_time_"+initialRFlightSelectedIndex).text();
            var initialRArrivalTime = currentSelectedReturnFlight.flightArrivalTime = $("#r_arrival_time_" + initialRFlightSelectedIndex).text();
            var initialRPrice = currentSelectedReturnFlight.totalFare = $("#r_price_" + initialRFlightSelectedIndex).text();
            var initialRFlightNo = currentSelectedReturnFlight.flightNo = $("#r_flight_no_"+initialRFlightSelectedIndex).text();
            var initialRFlightFormattedDuration = currentSelectedReturnFlight.flightDuration = $("#r_duration_time_" + initialRFlightSelectedIndex).text();

            $("#r_selected_departure_time").text(initialRDepartureTime+"\n"+"");
            $("#r_selected_departure_time").append("<span>#{results.arrivingCityName[0]['city_short_code']}</span><div class='S-arrow-1'></div>");
            $("#r_selected_arrival_time").text(initialRArrivalTime+"\n"+"#{results.departingCityName[0]['city_short_code']}");
            $("#r_selected_price").text(initialRPrice+"\nAmount");
            $("#r_flightname").text(initialRFlightNo);

            //- total price
            var dPrice;
            var rPrice;
            var initialtotalPrice = parseInt(initialDPrice.split(" ")[1]) + parseInt(initialRPrice.split(" ")[1]);

            $('input[type=radio][name=departure-flight]').on('change', function()
            {
                var dFlightSelectedIndex = this.id.split('_')[3];
                var dDepartureTime = currentSelectedReturnFlight.flightDepartureTime = $("#d_departure_time_"+dFlightSelectedIndex).text();
                var dArrivalTime = currentSelectedReturnFlight.flightArrivalTime = $("#d_arrival_time_" + dFlightSelectedIndex).text();
                dPrice = currentSelectedReturnFlight.totalFare = $("#d_price_" + dFlightSelectedIndex).text();
                var dTotalPrice = parseInt(dPrice.split(" ")[1]) + parseInt(rPrice.split(" ")[1]);
                var dFlightNo = currentSelectedToFlight.flightNo = $("#d_flight_no_"+dFlightSelectedIndex).text();
                currentSelectedToFlight.flightDuration = $("#d_duration_time_" + dFlightSelectedIndex).text();

                $("#d_selected_departure_time").text(dDepartureTime+"\n"+"");
                $("#d_selected_departure_time").append("<span>#{results.departingCityName[0]['city_short_code']}</span><div class='S-arrow-1'></div>");
                $("#d_selected_arrival_time").text(dArrivalTime+"\n"+"#{results.arrivingCityName[0]['city_short_code']}");
                $("#d_selected_price").text(dPrice+"\nAmount");
                $("#d_flightname").text(dFlightNo);
                $("#selected_total_price").text("$"+dTotalPrice.toString());
            });


            $('input[type=radio][name=return-flight]').on('change', function()
            {
                var rFlightSelectedIndex = this.id.split('_')[3];
                var rDepartureTime = currentSelectedReturnFlight.flightDepartureTime = $("#r_departure_time_"+rFlightSelectedIndex).text();
                var rArrivalTime = currentSelectedReturnFlight.flightArrivalTime = $("#r_arrival_time_" + rFlightSelectedIndex).text();
                rPrice = currentSelectedReturnFlight.totalFare = $("#r_price_" + rFlightSelectedIndex).text();
                var rTotalPrice = parseInt(dPrice.split(" ")[1]) + parseInt(rPrice.split(" ")[1]);
                var rFlightNo = currentSelectedReturnFlight.flightNo = $("#r_flight_no_"+rFlightSelectedIndex).text();
                currentSelectedReturnFlight.flightDuration = $("#r_duration_time_" + dFlightSelectedIndex).text();

                $("#r_selected_departure_time").text(rDepartureTime+"\n"+"");
                $("#r_selected_departure_time").append("<span>#{results.arrivingCityName[0]['city_short_code']}</span><div class='S-arrow-1'></div>");
                $("#r_selected_arrival_time").text(rArrivalTime+"\n"+"#{results.departingCityName[0]['city_short_code']}");
                $("#r_selected_price").text(rPrice+"\nAmount");
                $("#r_flightname").text(rFlightNo);
                $("#selected_total_price").text("$"+rTotalPrice.toString());
            });

            $("#selected_total_price").text("$"+initialtotalPrice.toString());

            var datePickerOptions = {
                dateFormat: 'yy-mm-dd',
                changeMonth: true,
                changeYear: true,
                minDate: '0D'
            };


            $('#departDate').datepicker(datePickerOptions);
            $('#departDate').datepicker('setDate', "#{searchParams.departDate}");
            $('#returnDate').datepicker(datePickerOptions);
            $('#returnDate').datepicker('setDate', "#{searchParams.returnDate}");


            $('#radio-trip-round').on('change', function () {
                $('#returnDate').attr('disabled', false);
            });

            $('#radio-trip-oneway').on('change', function () {
                $('#returnDate').attr('disabled', true);
            });


            $('#adultCountMinus').on('click', function () {
                var count = parseInt($('#adultCount').val());
                if (count > 1) {
                    $('#adultCount').val(count - 1);
                }
            });

            $('#adultCountPlus').on('click', function () {
                var count = parseInt($('#adultCount').val());
                if (count < 9) {
                    $('#adultCount').val(count + 1);
                }
            });

            $('#childCountMinus').on('click', function () {
                var count = parseInt($('#childCount').val());
                if (count > 1) {
                    $('#childCount').val(count - 1);
                }
            });

            $('#childCountPlus').on('click', function () {
                var count = parseInt($('#childCount').val());
                if (count < 9) {
                    $('#childCount').val(count + 1);
                }
            });


            $('#btnBook').on('click', function (e) {

                $(this).append('<input type="hidden" name="flightNo" value="' + currentSelectedToFlight.flightNo + '">');
                $(this).append('<input type="hidden" name="flightDepartureTime" value="' + currentSelectedToFlight.flightDepartureTime + '">');
                $(this).append('<input type="hidden" name="flightArrivalTime" value="' + currentSelectedToFlight.flightArrivalTime + '">');
                $(this).append('<input type="hidden" name="flightDuration" value="' + currentSelectedToFlight.flightDuration + '">');
                $(this).append('<input type="hidden" name="totalFare" value="' + currentSelectedToFlight.totalFare.replace('$', '') + '">');
                $(this).append('<input type="hidden" name="departureCityName" value="' + currentSelectedToFlight.departureCityName + '">');
                $(this).append('<input type="hidden" name="departureCityShortCode" value="' + currentSelectedToFlight.departureCityShortCode + '">');
                $(this).append('<input type="hidden" name="arrivalCityName" value="' + currentSelectedToFlight.arrivalCityName + '">');
                $(this).append('<input type="hidden" name="arrivalCityShortCode" value="' + currentSelectedToFlight.arrivalCityShortCode + '">');
                $(this).append('<input type="hidden" name="formattedDateOfTravel" value="' + currentSelectedToFlight.formattedDateOfTravel + '">');

                $(this).append('<input type="hidden" name="rFlightNo" value="' + currentSelectedReturnFlight.flightNo + '">');
                $(this).append('<input type="hidden" name="rFlightDepartureTime" value="' + currentSelectedReturnFlight.flightDepartureTime + '">');
                $(this).append('<input type="hidden" name="rFlightArrivalTime" value="' + currentSelectedReturnFlight.flightArrivalTime + '">');
                $(this).append('<input type="hidden" name="rFlightDuration" value="' + currentSelectedReturnFlight.flightDuration + '">');
                $(this).append('<input type="hidden" name="rTotalFare" value="' + currentSelectedReturnFlight.totalFare.replace('$', '') + '">');
                $(this).append('<input type="hidden" name="rDepartureCityName" value="' + currentSelectedReturnFlight.departureCityName + '">');
                $(this).append('<input type="hidden" name="rDepartureCityShortCode" value="' + currentSelectedReturnFlight.departureCityShortCode + '">');
                $(this).append('<input type="hidden" name="rArrivalCityName" value="' + currentSelectedReturnFlight.arrivalCityName + '">');
                $(this).append('<input type="hidden" name="rArrivalCityShortCode" value="' + currentSelectedReturnFlight.arrivalCityShortCode + '">');
                $(this).append('<input type="hidden" name="rFormattedDateOfTravel" value="' + currentSelectedReturnFlight.formattedDateOfTravel + '">');


                $('#bookFlights').submit();
            });




        }





